@(s: Session, u: User, h: User)

@links = {
        <script src="@routes.Assets.at("/javascripts/session_page.js")"></script>
        <script>
            var userId = @u.id;
            var joinedLocations = [];
            @for(j <- s.joinedUsers) {
                joinedLocations.push({
                    lat: @j.latitude,
                    lng: @j.longitude
                });
            }
        </script>
}

@main(title = "- " + s.name)(links) {

    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="">Meetpoint</a>
        </div>
        <p class="navbar-text">Signed in as <a href="@routes.UserController.showUser(u.id)" class="navbar-link">@u.name</a></p>
    </nav>

    <p class="lead">You are viewing session <strong>@s.name</strong> hosted by <strong>@h.name</strong></p>

    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">Unjoined Users</div>

                <ul id="unjoined_sessions" class="list-group">
                    @for(u <- s.unjoinedUsers) {
                        <li class="list-group-item">@u.name</li>
                    }
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Joined Users</div>

                <ul id="joined_sessions"  class="list-group">
                    @for(u <- s.joinedUsers) {
                        <li class="list-group-item">@u.name</li>
                    }
                </ul>
            </div>

            @if(u.friends.isEmpty) {
                <p>You should get your friends to use meetpoint.</p>
            } else {
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="inviteDropdown"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                     Invite a Friend
                     <span class="caret"></span>
                    </button>

                    <ul id="friends" class="dropdown-menu" aria-labelledby="inviteDropdown">
                        @for(f <- u.getFriends()) {
                            <li><a href="javascript:inviteUser(@s.id, '@f');">@f</a></li>
                        }
                    </ul>
                </div>
            }

                <br/>

                <form action="@routes.SessionController.leaveSession(s.id, u.id)" method="post">
                    <button class="btn btn-default" type="Submit">Leave Session</button>
                </form>
        </div>

        <div class="col-md-7">
            <div class="panel panel-default">
                <div id="map" style="width: 100%; height: 60vh"></div>
                <script src="@routes.Assets.at("javascripts/jquery-1.11.3.min.js")"></script>
                <script src="@routes.Assets.at("javascripts/google_map.js")"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYmTfTysq82Yq56eFrIw9i4jQ7c4HnJw0&callback=initSessionMap" async defer>
                </script>
            </div>
        </div>
    </div>


}

