@(message: String)

    <script src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true"></script>
    <script src="@routes.Assets.at("/javascripts/jquery-1.9.0.min.js")"></script>
    <script src="@routes.Assets.at("/javascripts/google_map.js")"></script>

    <ul id="joined_users">

    </ul>

    <ul id="unjoined_users">

    </ul>

    <form action="@routes.Session.addUserToSession(1,1)" method="post">
        <input name="userId">
        <input type="submit">
    </form>

    <div id="map"></div>

