@(u: User)

    <script src="@routes.Assets.at("/javascripts/jquery-1.9.0.min.js")"></script>
    <script src="@routes.Assets.at("/javascripts/user_page.js")"></script>

    <div>Username: @u.facebookId</div>

    <label for="unjoined_sessions">Unjoined sessions:</label>
    <ul id="unjoined_sessions">
        @for(s <- u.unjoinedSessions) {
            <li value="@s.id" onclick="joinSession()"><a href="#">@s.name</a></li>
        }
    </ul>

    <label for="joined_sessions">Joined sessions:</label>
    <ul id="joined_sessions" onclick="showSession()">
        @for(s <- u.joinedSessions) {
            <li value="@s.id"><a href="#">@s.name</a></li>
        }
    </ul>

    <form action="@routes.SessionController.createSession(u.id)" method="post">
        <label>Create session:</label>
        <input name="name">
        <input type="submit">
    </form>
