@(u: User)

    <script src="@routes.Assets.at("/javascripts/jquery-1.9.0.min.js")"></script>

    <div>Username: @u.facebookId</div>

    <label for="unjoined_sessions">Unjoined sessions:</label>
    <ul id="unjoined_sessions">
        @for(s <- u.unjoinedSessions) {
            <li>@s.name</li>
        }
    </ul>

    <label for="joined_sessions">Joined sessions:</label>
    <ul id="joined_sessions">
        @for(s <- u.joinedSessions) {
            <li>@s.name</li>
        }
    </ul>

    <form action="@routes.SessionController.createSession(u.id)" method="post">
        <label>Create session:</label>
        <input name="name">
        <input type="submit">
    </form>
