@(u: User) 

@links = {
	<script src="@routes.Assets.at("/javascripts/jquery-1.11.3.min.js")"></script>
	<script src="@routes.Assets.at("/javascripts/user_page.js")"></script>
}

@main(title = "- " + u.name)(links) {

	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<a class="navbar-brand" href="">Meetpoint</a>
		</div>
		<p class="navbar-text">Signed in as <a href="@routes.UserController.showUser(u.id)" class="navbar-link">@u.name</a></p>
	</nav>

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Unjoined sessions</div>

				<ul id="unjoined_sessions" class="list-group">
					@for(s <- u.unjoinedSessions) {
						<a class="list-group-item" href="javascript:joinSession(@s.id, @u.id);">@s.name</a>
					}
				</ul>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Joined sessions</div>

				<ul id="joined_sessions"  class="list-group">
					@for(s <- u.joinedSessions) {
						<a href="javascript:showSession(@s.id, @u.id)" class="list-group-item">@s.name</a>
					}
				</ul>
			</div>
		</div>
	</div>

	<form class="form-inline" action="@routes.SessionController.createSession(u.id)" method="post">
		<div class="form-group">
			<label class="sr-only" for="name">Create a new Session</label>
			<input name="name" type="text" class="form-control" placeholder="Session Name">
		</div>
		<button type="submit" class="btn btn-default">Create Session</button>
	</form>
}
